@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

[data-theme="light"] .light-white {
  color: #020703;
}

[data-theme="light"] .logo {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

[data-theme="light"] .search-border {
  border-color: black;
  color: black;
}
[data-theme="light"] .search-border::placeholder {
  border-color: black;
  color: black;
}
[data-theme="light"] .text-neutral-300 {
  color: rgb(0 0 50);
}

[data-theme="light"] .navlink,
[data-theme="light"] .links:hover {
  background-color: #43766c;
  color: white;
}
